* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} /* para falar ao navegador que quero que o estilo/regras apliquem a todo conteudo da pagina*/

body {
  font-family: Arial, sans-serif;
  background: #fefcf9;
  color: #333;
  line-height: 1.6;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
} /*defini algumas configuracoes para o corpo do site, fonte dos textos, cor de fundo, espaco interno nao colado nas bordas, etc */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
} /* organizei logo e menu em uma linha horizontal, alinhando cada um pros cantos, customizacao do cabecalho */

.logo {
  font-size: 3em;
  font-weight: 900;
  font-family: Helvetic; /* foi o que deu certo kkkk*/
} /* ajeitar o logo*/

nav ul { /* tudo sobre customizacao das listas*/
  display: flex;
  list-style: none;
} /*customizacao pra ficar laado a lado em vez de empilhados*/

nav ul li {
  margin-left: 20px;
} /* espaco horizontal*/

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
} /* remove o sublinhado,define cor do texto etc*/

nav ul li a:hover {
  color: red;
} /* estilo para quando o cursor passar por cima */

nav ul li a.active {
  color: red;
  border-bottom: 2px solid red;
} /* pra destacar quando ativo com sublinhado e cor */

main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
} /* agrupa o conteudo principal da pag, organizando estrturas */

.principal {
  display: flex;
  gap: 20px;   
  flex-direction: column;
  margin-bottom: 40px;  
} /* agrupa toda secaao citada e define estrutura e separacao dessa parte */

.principal-imagem {
  flex: 2;               
} 

.principal img {
  width: 750px;
  height: 300px;
  border-radius: 0px;
} /* controla tamanho e posicao da imagem */

.principal-texto-conteudo{
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px; 
} /* agrupa os dois blocos de texto lado a lado */

.principal-textoT {
  letter-spacing:0px;
  word-spacing: normal;
  line-height: 50px;
  flex: 1;              
  display: flex;
  flex-direction: column;
} /* responsavel pelo titulo da secao */

.principal-textoT h1 {
  font-size: 3em;
  margin-bottom: 15px;
  width:300px
} 

.principal-textoC {
  flex: 1;              
  display: flex;
  flex-direction: column;
} /* responsavel pelo paragrafo explicativo e o botao */

.principal-textoC p {
  margin-bottom: 15px;
  width: 400px;
}

.read-more {
  background: #000;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 0.9em;
  text-transform: uppercase;
  width: fit-content;
  border-radius: 4px;
} /*estiliza o botao read more */


.new-section {
  background: #00001a;
  color: #fff;
  padding: 20px;
  border-radius: 0px;
  width: 330px;
  height: 460px;
  margin-left: 0px;
} /* define as configuracoes de layout da barra lateral direita */

.new-section h2 {
  color: orange;
  margin-bottom: 20px;
  font-size: 40px;
  
} /* estliza o new */

.linky {
  text-decoration: none;
  display: inline-block;
} /* esses 2 linky sao para estilizar quando o cursor passa em cima */

.linky:hover h3 {
  color: orange;
}

.new-item h3 {
  font-size: 1em;
  color: #fff;
}

.new-item p {
  font-size: 0.9em;
  color: #ccc;
} /* tudo de estilizacao dos textos*/

.articles {
  grid-column: span 2;
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
} /* agrupar os 3 artigos lado a lado no final da pag*/

.article img{
  width: 150px;
  height: 200px;
}

.article {
  display: flex;
  align-items: center;
  gap: 15px;
  max-width: 300px;
} /* organiza cada bloco imagem + escrita*/

.article h4 {
  color: red;
  font-size: 1.2em;
} /* todo resto pra estilizar cada um dos textos*/

.article h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 5px;
}

.article p {
  font-size: 0.9em;
  color: #666;
}

.linky2 {
  text-decoration: none;
  display: inline-block;
  color: #000;
} /* para ter a animacao de link quando o cursos passa em cima*/

.linky2:hover h5 {
  color:red;
}
